<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.boge.bogebook">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".BookApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".mvp.ui.activity.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".mvp.ui.activity.RankingActivity"
            android:label="@string/title_activity_ranking"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".mvp.ui.activity.RankDetailActivity"
            android:label="@string/title_activity_rank_detail"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".mvp.ui.activity.BookDetailActivity"
            android:label="@string/title_activity_book_detail"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".mvp.ui.activity.CategoryActivity"
            android:label="@string/title_activity_category"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".mvp.ui.activity.CategortBookActivity"
            android:label="@string/title_activity_categort_book"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".mvp.ui.activity.LocalBookActivity"
            android:label="@string/title_activity_local_book"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".mvp.ui.activity.ReaderActivity"
            android:label="@string/title_activity_reader"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".mvp.ui.activity.SearchActivity"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>